<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
      <menu
            icon="icons/mozo.gif"
            label="Mozo">
         <command
               commandId="org.trimatek.mozo.ui.getproxies"
               label="Solicitar dependencias"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.trimatek.mozo.ui.sample"
               label="Analizar"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.jdt.core.IJavaProject">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menu>
    </menuContribution>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command defaultHandler="org.trimatek.mozo.ui.handlers.GetProxiesHandler"
      id="org.trimatek.mozo.ui.getproxies" name="Convert">
    </command>
    <command
          defaultHandler="org.trimatek.mozo.ui.handlers.SampleHandler"
          id="org.trimatek.mozo.ui.sample"
          name="Analyze">
    </command>
  </extension>
 
</plugin> 
